table{
    border: black 1px;
    
}

#1{
    border-top: none;
    border-left: none;
}

#2{border-top: none;}

#3{
    border-top:none;
    border-right: none;
}
#4{border-left:none;}

#6{border-right:none}

#7{
    border-bottom:none;
    border-left:none;
}

#8{border-bottom:none;}

#9{
    border-bottom:none;
    border-right:none;
}

/* Set border radius to 100% for a perfect circle. Not sure about size, but that
should make the O's that I need. */